# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Production Build Output
client/dist/

# Local Database & Archives
server/data/database.json
*.zip

# Environment & Logs
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
